---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      <h2 class="post-list-heading">{{ page.list_title | default: "Some Journeys" }}</h2>
      {%- for travel in site.travel -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ travel.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ travel.url | relative_url }}">
            {{ travel.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ travel.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
      <br>
      <h2 class="post-list-heading">{{ page.list_title | default: "Some Feelings" }}</h2>
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
      <br>
      <h2 class="post-list-heading">{{ page.list_title | default: "Some Books and Films" }}</h2>
      {%- for review in site.review -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ review.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ travel.url | relative_url }}">
            {{ review.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ review.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}

      
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
